html {
    font-size: 1.5rem;
  }
  
body {
    margin: 0;
    background-color: white;
}

/* Mise en page du header */

header {
    background-color: #0E7C7B;
    color:white;
}

    input{
        height: 10%;
        min-width: 50%;
        font-size:80%;
    }

    label{
        height: 20%;
        width: 100%;
        float: right;
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    a {
        text-decoration: none;
        color: white;
    }

    nav {
        font-family: 'Chakra Petch', sans-serif;
        font-size: x-large;
    }

    .navigation a:hover, .inscription a:hover {
        color:#232522;
    }

    .validation {
        background-color:#D62246;
        border-color: #D62246;
        border-radius: 10px;
        border: 0;
        padding: 10px;
        font-family: 'Chakra Petch', sans-serif;
        font-size: x-large;
        color: white;
    }

    .modal-header{
        background-color: #0E7C7B;
    }

/* Mise en page Main1 */

.title{
    font-family: 'Chakra Petch', sans-serif;
    color: #D62246;
}

p{
font-family: 'Ubuntu Condensed', sans-serif;
text-align: justify;
}

/* Mise en page Main2 */

.containerProduct {
    background-color: #D4F4DD;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/* Mise en page Main3 */

.placeDate{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.placeDateP{
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 1rem;
}


@media screen and (max-width: 992px) {
    
    .imgCampus{
        width: fill;
        overflow: auto;
    }
    
    .campus{
        margin: -15% 0;
        
    }
}

/* Mise en page du footer */

footer, .bgAccordion {
    background-color: #0E7C7B;
}

.textAccordion{
    color: #D62246;
}

footer button {
    font-family: 'Chakra Petch', sans-serif;
}

.multiLink {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 0.8rem;
}